<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}"> 
    <script src="{{url_for('static', filename = 'app.js')}}"></script>
    <title></title>
</head>
<body onload="darkCheck()">
    
    <header>
        <nav>
            <a href="{{ url_for('my_view.home')}}">Home</a> 
            <a href="{{ url_for('my_view.page1')}}">page1</a>
            <a href="{{ url_for('my_view.page2')}}">page2</a>
            <a href="{{ url_for('my_view.page3')}}">page3</a>
            <a href="{{ url_for('my_view.page4')}}">page4</a>
            <a href="{{ url_for('my_view.page5')}}">page5</a>
        </nav>
        
    </header>
    <div class="flex-container-h"><button onclick="darkmodetoggle()">Dark Mode</button></div>  <!-- make button to click and add an onclick and the function name. -->
    {% block content %}
    {% endblock %}
</body>
</html>