<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css')}}">
    <title>Main page</title>
</head>
<body>
    <nav>
        <ul>
            <a href="{{ url_for('my_view.home') }}"><li>Home</li></a>
            <a href="{{ url_for('my_view.contact') }}"><li>Contact</li></a>
            <a href="{{ url_for('my_view.about') }}"><li>about</li></a>
        </ul>
    </nav>
    <header>
        This is the custom header
    </header>

    {% block content %} 
    {% endblock %} 
    
    <footer>This is the custon footer</footer>
    <aside>This has extended from base</aside>
    
</body>
</html>